body {
  margin: 0;
}

#main {
  font-family: "Avenir", Helvetica, sans-serif;
  min-height: 100vh;
  height: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(89, 89, 238) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

#side-bar,
#view {
  height: auto;
  background-color: white;
  border-radius: 10px;
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .my-grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-column-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
  }
}

.item {
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  height: 150px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.item:nth-child(even) {
  background-color: #5961f08e;
}

.item:nth-child(odd) {
  background-color: #0dcfff59;
}

.item:hover {
  background-color: rgb(235, 198, 240);
  transition: 0.5s;
}

.category-list-item {
  cursor: pointer;
  border-radius: 4px;
  background-color: transparent;
  height: fit-content;
}

.price {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.active-link {
  color: #5960f0;
}

.spinner-square {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  height: 32px;
  width: 32px;
  background: black;
  animation: flipSquare 1s linear infinite;
}

@keyframes flipSquare {
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(180deg) rotateY(180deg);
  }
}

.pagination-item {
  cursor: pointer;
}
