<template>
  <div id="main" class="flex justify-center">
    <div
      id="loading"
      v-if="
        $apollo.queries.categories.loading || $apollo.queries.products.loading
      "
    >
      <div class="spinner-square"></div>
    </div>

    <div
      v-if="!$apollo.queries.categories.loading"
      id="layout"
      class="container mx-2 my-grid my-10"
    >
      <div id="side-bar" class="flex-col px-6 mb-4 md:mb-0">
        <p class="title text-gray-500 pt-4 text-2xl">Categories</p>
        <ul v-if="!error" class="py-2 flex flex-row md:flex-col flex-wrap">
          <li
            v-for="item in categoriesWithState"
            :key="item.uid"
            @click="setCategoryId(item)"
            class="category-list-item p-2 lg:transition lg:duration-500 lg:ease-in-out lg:transform lg:hover:-translate-x-1 lg:hover:scale-110"
            :class="[item.active ? 'active-link' : null]"
          >
            {{ item.name }}
          </li>
        </ul>
        <p v-else class="py-2 font-bold">Oops, something went wrong.</p>
      </div>

      <div
        id="view"
        class="p-4 flex flex-col"
        :class="[
          categoryUid ? 'justify-between' : 'items-center justify-center',
          $apollo.queries.products.loading ? 'hidden md:block' : null,
        ]"
      >
        <p v-if="error" class="py-2 font-bold">Cannot load data.</p>
        <p class="text-4xl px-4" v-if="!categoryUid && !error">
          Hello, please choose a category.
        </p>
        <div
          id="loading"
          class="flex justify-center items-center"
          v-if="$apollo.queries.products.loading && !error"
        >
          <div class="spinner-square"></div>
        </div>
        <div
          v-else-if="categoryUid && !$apollo.queries.products.loading"
          id="products"
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5"
        >
          <div
            v-for="item in products.items"
            :key="item.sku"
            class="item flex-col justify-between my-2"
          >
            <p class="p-4 font-bold">{{ item.name }}</p>
            <p class="price">
              {{ item.price_range.minimum_price.regular_price.value }} USD
            </p>
          </div>
        </div>
        <div
          v-if="products.total_count"
          id="pagination"
          class="mt-4 flex justify-center"
        >
          <span
            v-show="!$apollo.queries.products.loading"
            v-for="page in pagesCount"
            :class="page == currentPage ? 'active-link' : null"
            @click="setCurrentPage(page)"
            :key="page"
            class="mx-1 pagination-item"
          >
            {{ page }}</span
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import gql from "graphql-tag";
export default {
  data() {
    return {
      categories: [],
      products: [],
      categoryUid: null,
      currentPage: 1,
      pageSize: 10,
      error: null,
    };
  },
  name: "App",
  components: {},
  computed: {
    pagesCount() {
      return Math.ceil(this.products.total_count / this.pageSize);
    },
    categoriesWithState() {
      let cat = this.categories.items[0].children;
      cat.map((item) => {
        item.active = false;
        return item;
      });
      return cat;
    },
  },
  methods: {
    setCategoryId(item) {
      this.categoriesWithState.map((categoryItem) => {
        item.uid != categoryItem.uid
          ? (categoryItem.active = false)
          : (categoryItem.active = true);
      });
      this.categoryUid = item.uid;
      this.currentPage = 1;
    },
    setCurrentPage(page) {
      this.currentPage = page;
    },
  },
  apollo: {
    categories: {
      query: gql`
        query {
          categories {
            total_count
            items {
              uid
              level
              name
              path
              children_count
              children {
                uid
                level
                name
                path
                children_count
                children {
                  uid
                  level
                  name
                  path
                }
              }
            }
            page_info {
              current_page
              page_size
              total_pages
            }
          }
        }
      `,

      error(error) {
        this.error = JSON.stringify(error.message);
        console.log(this.error);
      },
    },
    products: {
      query: gql`
        query ($categoryUid: String, $currentPage: Int, $pageSize: Int) {
          products(
            filter: { category_uid: { eq: $categoryUid } }
            pageSize: $pageSize
            currentPage: $currentPage
          ) {
            total_count
            items {
              name
              sku
              price_range {
                minimum_price {
                  regular_price {
                    value
                    currency
                  }
                }
              }
            }
            page_info {
              page_size
              current_page
            }
          }
        }
      `,
      variables() {
        return {
          categoryUid: this.categoryUid,
          currentPage: this.currentPage,
          pageSize: this.pageSize,
        };
      },
      skip() {
        return !this.categoryUid;
      },
      error(error) {
        this.error = JSON.stringify(error.message);
        console.log(this.error);
      },
    },
  },
};
</script>

<style scoped src="@/styles.css"></style>
